.container{
    flex-direction: column;
    display: flex;
}
.box{
display: flex;
position: absolute;
color: white;
top: 80%;
padding-top: 70px;
      }

.paragraph1 {
    font-family: 'Times New Roman', Times, serif;
    
}

.paragraph2{
    font-family: 'Times New Roman', Times, serif;
}